* {
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    
}

.main-01 {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 675px;
    
}

.main-01 .main-img img{
    width: 100%;
    height: 675px;
    
    
}

.main-01 .title-01 h1 {
    font-weight: 500;
    height: 300px;
    width: 520px;
    margin-top: -450px;
    margin-left: 100px;
    
    position: absolute;
    z-index: 1;
    font-size: 85px;
    color: white;
}



.main-01 .title-01 p {
    font-weight: 500;
    font-size: 18px;
    color: white;
    padding-top: 15px;
    margin-top: -260px;
    margin-left: 100px;
    position: absolute;
    z-index: 2;

}

.box-02img {
    
   display: grid;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 200px;
   margin-top: 40px;
   margin-left: -40px;


   
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: 
   "pic1 pic2" 
   "pic1 div1";

   position: absolute;
   z-index: 10000;
   grid-gap: 15px;
   
   

}

.box-02 .box-02img .pic1  {

    height: 570px;
    width: 350px;
    
    

   
   

}

.box-02 .box-02img .pic2  {
    width: 340px;
    height: 275px;
   
    

}

.box-02 .box-02img .div1 {
    width: 340px;
    height: 275px;
    background-color: #4d58d6;
    
    
    
}

.box-02 .box-02img .div1 p {
    
    top: 50%;
    left: 50%;
    margin-right: -50%;
    
}

.pic1 {
    grid-area: pic1;
}



.section-01x {
    width: 100%;
}

.section-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 700px;
    padding-left: 75px;
    
    background-color: #f2f2f2;
    
    
    
    
    
    
}

.section-01 .box-01 h1 {
    font-size: 34px;
    font-weight: 300;
}

.section-01 .box-01 p{
    padding-top: 12px;
    color: #3e4192;
    font-size: 18px;

}

.section-01 .box-01 p:nth-child(3) {
    color: rgba(0, 0, 0, 0.89);
    padding-top: 18px;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
}

.section-01 .box-01 input {
    margin-top: 30px;
    width: 145px;
    height: 47px;
    font-size: 16px;
    padding: 10px;
    color: #3e4192;
    outline: none;
    border: 2px solid #3e4192;
    background-color: white;
    
}

.section-01 .box-01 input:hover {
    background-color: #5526c4;
    color: white;
}

.box-02 {
    
    background-color: #f2f2f2;
    position: absolute;
    height: 700px;
    width: 50%;
    left: 50%;
  
}

.section-01 .box-01 {
    margin-left: -250px;
    position: absolute;
}

.section-03 {
    height: 400px;
    width: 100%;
    background-color: #37363b;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.section-03 .box-03 img {
    margin: 100px;
}

.section-03 .box-03 .text {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: -80px;
    margin-left: 70px;
    
    color: white;
    
}

.section-03 .box-03 .text h1{
    font-weight: 100;
    font-size: 20px;
}

.section-04 {
    height: 900px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.section-05 {
    height: 232px;
    width: 100%;
    background-color: #4d58d6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.section-05 .input-05 input {
    margin-top: 30px;
    width: 145px;
    height: 47px;
    font-size: 16px;
    padding: 10px;
    color:  #ffffff;
    outline: none;
    border: 2px solid #ffffff;
    background-color: #4d58d6;
    
    
    
}

.section-05 h1 {
    font-size: 35px;
    color: white;
    font-weight: 400;
}

.section-05 .input-05 input:hover {
    background-color:  #ffffff;
    color: #4d58d6;
}

.section-06 {
    height: 675px;
    width: 100%;
    background-color: #37363b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-06 .box-06 h1 {
    color: white;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 60px;
    

}

.section-06 .input-06 input:nth-child(1) {

    background-color: #37363b;
    width: 580px;
    height: 40px;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    padding-left: 10px;
    padding: 3px 12px;

}

.section-06 .input-06 input:nth-child(4) {

    background-color: #37363b;
    width: 580px;
    height: 40px;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    padding-left: 10px;
    padding: 3px 12px;


}

.section-06 .input-06 textarea:nth-child(7) {

    background-color: #37363b;
    width: 580px;
    height: 150px;
    border: 1px solid white;
    color: white;
    font-size: 17px;
    padding-left: 10px;
    padding: 12px;
    

}

.section-06 .input-07 input {
    margin-top: 30px;
    width: 130px;
    height: 47px;
    font-size: 16px;
    padding: 10px;
    color:  #ffffff;
    outline: none;
    border: 2px solid #ffffff;
    background-color: #37363b;
}

.section-06 .input-07 input:hover {
    background-color:  #ffffff;
    color: black;
}









